header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $primary;
}

header li {
    float: left;
}

#first-li  {
  margin-left: 18vw;
}

header li a {
    font-size: 2vw;
    display: block;
    color: $white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header li a:hover {
    color: $black;
}
