{
  "plugins": ["react"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "no-console": "off",
    "indent": [ "error", 2, {
      "SwitchCase": 1,
      "MemberExpression": 0
      }
    ],
    "quotes": [
      "error",
      "single", { "allowTemplateLiterals": true }
    ],
    "semi": ["error", "always"],
    "linebreak-style": [ "error", "unix" ]
  },
  "env": {
    "node": true,
    "es6": true,
    "browser": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "impliedStrict": true,
      "experimentalObjectRestSpread": true
    }
  },
  "globals": {
    "__API_URL__": false,
    "__DEBUG__": false,
    "__GOOGLE_CLIENT_ID__": false,
    "__GOOGLE_REDIRECT_URI__": false
  }
}
