@import '../../style/lib/vars';

header {
  margin: 0;
  // font-size: 5vw;
  height: 12vw;
  background: $color-primary;
  display: flex;
  align-items: center;

  & button {
    position: absolute;
    background: transparent;
    border: none;
    outline: none;
    margin: 0 $gutter-sm;
    color: $white;
    font-size: 7vw;
    cursor: pointer;

  & .logout {
      float: right;
      margin-right: 2vw;
      cursor: pointer;
      font-size: 1.25rem;

      &:hover {
        color: #aaa;
      }
    }
  }
}

#header-title-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header-title {
  font-family: $font-logo;
  color: $white;
  font-size: 2em;
  display: inline-block;
  user-select: none;
  cursor: default;
}

#header-logo {
  height: 8vw;
  width: 8vw;
  display: inline-block;
  fill: $white;
}
