.modal {
  background: #4F4E93;
  z-index: 1;
  position: absolute;
  top: 12vw;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  display: flex;

  & button {
    border: none;
    color: #fff;
    height: 48px;
    width: 48px;
    margin-right: 20px;
    font-size: 3vw;
    cursor: pointer;

    &:hover {
    background: #777;
    }
  }

  & div {
    flex: 1;
    font-family: Helvetica;
    color: #fff;
    overflow: auto;
  }
}
