html, body, main, #root {
  height: 100%;
  font-family: $font-content;
  color: $black;
  font-size: 3vw;
}

h1, h2, h3 {
  font-family: $font-header;
  font-weight: bold;
}

h2 {
  font-size: 5vw;
  margin-bottom: $gutter-lg;
  margin-top: $gutter-sm;
  margin-left: $gutter-sm;
}

h3 {
  font-size: 4vw;
  margin-left: $gutter-sm;
}

h4 {
  color: gray;
  margin-left: $gutter-sm;
}

p {
  font-family: $font-content;
  margin-left: $gutter-sm;
}

li {
  padding: $gutter-lg;
  border-top: 1px solid #ddd;
  background: linear-gradient($list-shade, $white);
}

form {
  width: 100%;
  box-sizing: border-box;
  padding: $gutter-sm;
  transition: $transition;

  input {
    width: 100%;
    padding: $gutter-sm;
    background: $white;
    border-radius: $border-radius;
    border: .5px solid $input-focus;
    box-sizing: border-box;
    margin: ($gutter-sm / 2) $gutter-sm;

    &:focus {
      background: $input-focus;
      outline: none;
      border-color: $light-gray;
    }
  }

  input[type=datetime-local] {
    font-size: 3.5vw;
  }

  button {
    border: $color-primary solid 2px;
    border-radius: $border-radius;
    padding: ($gutter-sm / 2) $gutter-sm;
    background: $white;
    color: $color-primary;
    outline: none;
    margin: $gutter-sm;
    font-size: 3vw;
    box-sizing: border-box;

    &:hover {
      background: $color-primary;
      color: $white;
    }
  }
}

.cool-bar {
  background: url(https://s3-us-west-2.amazonaws.com/parkify-app/background.jpg) #666 no-repeat;
  background-position-y: 35%;
  background-position-x: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 14vw;
  width: 100%;
  position: relative;

  p {
    position: absolute;
    top: 6vw;
    left: 12vw;
    font-family: $font-cursive;
    font-size: 3vw;
    color: $white;
    letter-spacing: .5vw;
    opacity: .9;
  }
}
