@import '../../style/lib/vars';

.about-container {

  & div {
      column-count: 1;
      color: white;
      font-size: 13;
  }

}

// .left {
//   text-align: left;
//   float: left;
// }
//
// .right {
//     text-align: right;
//     float: right;
//
// }
