@import '../../style/lib/vars';

.about-container {

  & div {
      column-count: 1;
      color: black;
      font-size: 13;
      margin-left: 20px;
      margin-right: 20px;
  }

}

h1 {
  margin: $gutter-sm;
}
}


& div {
    column-count: 1;
    color: white;
    font-size: 1vw;
}

p {
  font-size: 1vw
}

}

// .left {
//   text-align: left;
//   float: left;
// }
//
// .right {
//     text-align: right;
//     float: right;
//
// }
