.google-oauth {
  background-color: #4285F4;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 4vw;
  border-radius: 3px;
  display: inline-block;
  text-align: left;


    & svg {
      display: inline-block;
      vertical-align: middle;
      height: 10vw;
      width: 10vw;
    }

    & p {
      display: inline-block;
      vertical-align: middle;
      margin: 0;
      padding: 0 2vw;
    }
}
