@import '../../style/lib/vars';

.auth-form {
    margin: 0 auto;
    max-width: 60%;
    text-align: center;
    width: initial;
    box-sizing: initial;
    padding: $gutter-lg 0;
    transition: none;

  & input {
    display: block;
    padding: $gutter-lg * 2 / 3;
    margin: $gutter-lg * 2 / 3 0;
    box-sizing: border-box;
    width: 100%;
    font-size: 4vw;
    border-radius: 5px;
    border: none;
    background: rgba(255, 255, 255, 0.9);
  }

  & button {
    display: block;
    margin-top: $gutter-lg;
    padding:  $gutter-lg * 2 / 3;
    margin:  $gutter-lg * 2 / 3 0;
    font-size: 4vw;
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: $color-primary;
    text-transform: capitalize;
    color: $white;
    cursor: pointer;
    outline: none;
  }

  & .separator {
    height: 2px;
    margin: $gutter-lg;
    background: linear-gradient(to right, transparent 0, rgba(255,255,255,0.2) 10%, rgba(255,255,255,0.2) 90%, transparent 100%);
  }

  // & .sign-up-button {
  //   background-color: transparent;
  //   text-shadow: none;
  //   font-size: 4vw;
  //   padding: 0 0 0;
  //   margin-bottom: 0;
  //   text-transform: none;
  //
  //   &:hover {
  //     text-decoration: underline;
  //   }
  // }

  & .start-button:hover {
    background-color: $color-secondary;
  }
}
